argcomplete
# GitPython 1.0.1 required by openstack global-requirements
# python>=3 should work with >=0.3.4
# python<3 should work with >=0.3.2.RC1,!=0.3.2
GitPython>=1.0.1 # BSD License (3 clause)
# pbr 1.6 or newer required by openstack global-requirements
# >= 1.0.0 should be sufficient for compatibility
pbr>=1.6 # Apache-2.0
six>=1.9.0 # MIT
