Source: git-upstream
Section: vcs
Priority: optional
Maintainer: Davide Guerri <davide.guerri@hp.com>
Build-Depends: debhelper (>= 7.0.50~),
 python-all-dev (>= 2.6.6-3~)
Build-Depends-Indep: python-git,
 python-setuptools
XS-Python-Version: >=2.6
Standards-Version: 3.9.3

Package: git-upstream
Architecture: all
Section: python
XB-Python-Version: ${python:Versions}
Depends: python-git
 ${shlibs:Depends},
 ${misc:Depends},
 ${python:Depends}
Provides: ${python:Provides}
Description: Git extensions which ease the rebasing of local-carried patches
 on top of upstream repositories.
 Git extensions to provide high-level abstraction for complex operations
 that support the rebasing of local-carried patches  on top of upstream
 repositories.
